$boxShadow: 0 5px 20px 0
  rgba(
    $color: #000000,
    $alpha: 0.05,
  );

.mainContainer {
  height: 180px;
  border-radius: 15px;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s;
  background-image: url(../../assets/images/autumn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .timeContainer {
    width: 100px;
    height: 100%;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3.5em;

    span {
      font-weight: bold;
      font-size: 3em;
    }
  }
}
