.mainContainer {
  height: 100vh;
  min-width: 300px;
  max-width: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 5px 0 20px 0 rgba($color: #000000, $alpha: 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10000;

  .topContainer {
    display: flex;
    align-items: center;

    .profileImage {
      height: 50px;
      width: 50px;
      border-radius: 9999999px;
      border-width: 3px;
      border-style: solid;
    }

    h4 {
      font-weight: bolder;
    }
  }

  .logoutBtn {
    border: none;
    text-align: start;
  }
}

@media only screen and (max-device-width: 1024px) {
  .mainContainer {
    position: fixed;
    top: 0;
    left: 0;
  }
}
